<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
		<meta name="viewport" content="width=device.width, initial-scale=1">

		<title>Nom de l'article</title>
		
		{% block stylesheets %}
			<link rel="stylesheet" href="{{ asset('build/article.css') }}">
		{% endblock %}
    </head>

    <body>
		{% block body %}
			{% if app.user %}
				<button type="button" class="btn btn-danger btn-lg deco-button">Déconnexion</button>
			{% endif %}

			<a href="/">
				<img src="{{ asset('build/home.png') }}" class="home_icon">
			</a>

			<div class="date-div">
				<p class="date-text">
					<b>Date de publication :</b> {{ article.published | date("d/m/Y") }}
				</p>
			</div>

			<div class="article_div">
				<h1 class="article_title">{{ article.title }}</h2>

				<p class="article_intro">{{ article.intro }}</p>

				<p class="article_text">{{ article.content }}</p>

				{% if is_granted("ROLE_ADMIN") %}
					<div class="btns-article-div">
						<a href="{{ path('editArticle', {'id': article.id}) }}">
							<button type="button" class="btn btn-warning button-marg btn-article btn-modify-article">Modifier article</button>
						</a>
						
						<form method="post" action="{{ path('deleteArticle', {'id': article.id}) }}" onsubmit="return confirm('Es-tu sûr de vouloir continuer sur ce chemin et faire disparaître à jamais cet article de la surface de la Terre ?');">
							<input type="hidden" name="_method" value="DELETE">
							<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ article.id) }}">

							<button type="submit" class="btn btn-danger btn-article">Supprimer article</button>
						</form>
					</div>
				{% endif %}
			</div>
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('index') }}
		{% endblock %}
    </body>
</html>
