<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
		<meta name="viewport" content="width=device.width, initial-scale=1">

		<title>Index</title>
		
		{% block stylesheets %}
			{{ encore_entry_link_tags('index') }}
		{% endblock %}
    </head>

    <body>
		{% block body %}
			{% if app.user %}
				<button type="button" class="btn btn-danger btn-lg deco-button">Déconnexion</button>
			{% endif %}
			
			<div class="welcome_div">
				<h1 class="welcome_title">Bienvenue sur True Fake news</h1>

				<p class="welcome_text">
					Vous trouverez sur ce site un concentré de news aussi intéressantes les unes que les autres, et dont la
					véracité n'est évidemment plus à prouver. 
					
					<br>

					Veuillez cependant nous pardonner pour le visuel, tout le budget est parti dans l'écriture des articles.
				</p>
			</div>

			<div class="account_div">
				{% if is_granted("ROLE_ADMIN") %}
					<p class="text_connexion_info">
						En tant qu'admin, vous avez accès à la création de contenu, petit veinard que vous êtes ;)
					</p>

					<button type="button" class="btn btn-info btn-lg button-marg-right create-article-button" data-toggle="modal" data-target="creation_compte_modal">Créer un nouvel article</button>	
				{% else %}
					<p class="text_connexion_info">
						Connectez-vous afin de pouvoir créer des articles et en supprimer si vous disposez d'un compte admin !
					</p>

					<button type="button" class="btn btn-success btn-lg button-marg-right connect-button">Se connecter</button>
				{% endif %}

				<button type="button" class="btn btn-info btn-lg create-account-button api-call-button" data-toggle="modal" data-target="creation_compte_modal">Appel API</button>
			</div>

			<div id="articles_carousel" class="carousel slide carousel-dark" data-bs-ride="carousel">
				<a href="#articles_carousel" class="left_arrow_carousel" role="button" data-bs-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Previous</span>
				</a>

				<a href="#articles_carousel" class="right_arrow_carousel" role="button" data-bs-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Next</span>
				</a>

				<div class="carousel-inner">
					{% for articles_arr in articles %}
						{% if loop.index0 == 0 %}
							<div class="carousel-item active">
								{% for article in articles_arr %}
									{% set url = article.getUrlAlias() %}
									<a href="/post/{{ url }}">
										<div class="article">
											<h2 class="article_title">{{ article.title }}</h2>

											<p class="article_text">{{ article.intro }}</p>
										</div>
									</a>
								{% endfor %}
							</div>
						{% else %}
							<div class="carousel-item">
								{% for article in articles_arr %}
									{% set url = article.getUrlAlias() %}
									<a href="/post/{{ url }}">
										<div class="article">
											<h2 class="article_title">{{ article.title }}</h2>

											<p class="article_text">{{ article.intro }}</p>
										</div>
									</a>
								{% endfor %}
							</div>
						{% endif %}
					{% endfor %}
			</div>
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('index') }}
		{% endblock %}
    </body>
</html>
